{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-4 mb-2 mt-1">
      <div class="box">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h4">
                Об авторе
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Кто я и что я умею
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-8">
      <div class="card-body">
        <div class="card-text">
          <p>Я - начинающий Python-разработчик. Давно хотела попробовать себя в этом деле, но первый код написала только в конце 2020 года.</p>
          <p>Примеры моего кода можно посмотреть <a href='https://github.com/gtrosh/gtrosh' target="_blank">на моей страничке в Guthub</a>. Пока это простые веб-приложения на Django и Flask.</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
